(GraphicsDetection/ColorRecognition/01_color_recognition_camera.py GraphicsDetection/ColorRecognition/02_multi_color_tracking.py GraphicsDetection/ColorRecognition/readme.md GraphicsDetection/ColorRecognition/readme_en.md)